<div class="inner cover">
	<h1><%= @location %></h1>
	<p class="lead">
		Enter an IP Address to Trace IP Location.
	</p>
	<form action="/tracker" method="POST" class="form">
		<div class="form-group">
			<input type="text" name="ip_address" class="form-control">
		</div>
		<p class="lead">
			<input type="submit" class="btn btn-lg btn-secondary">
		</p>
	</form>
</div>
